h1{
    color: blue;
    font-size: larger;
}

.header{
    color: black;
    font-size: larger;
}

.footer{
    color: rgb(255, 0, 0);
    font-size: larger;
}

/* Classes de estilização para elementos */
.fogo{
    color: orange;
    font-size: larger;
}

.agua{
    color: rgb(47, 0, 255);
    font-size: larger;
}

.grama{
    color: greenyellow;
    font-size: larger;
}

.terra{
    color: burlywood;
    font-size: larger;
}

.card{

    border-color: grey;
    border-width: 1px;
    border-style: solid;
    width: 20%;



}   